
{{ 'announcement-bar.css' | asset_url | stylesheet_tag}}

<div class="announcement-bar" style="background-color: {{ settings.announcement_bar }}; color: {{ section.settings.text_color }};">
  <p>{{ section.settings.text }}</p>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Enjoy Free Shipping On All Orders"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
