<div class="login-section">
      <div class="image-loginform-container">
        <div class="image-box"></div>
        <div class="login-box">
          <div class="create-account">Log in</div>
          <form class="login-form" action="submit">
            <div style="margin-top: 0" class="divm">
              <input
                name="customer[email]"
                class="email"
                type="text"
                placeholder="email"
                required
              />
            </div>
            <div class="divm">
              <input
                name="customer[password]"
                class="password"
                type="text"
                placeholder="password"
                required
              />
            </div>
            <div class="forgot-password">Forgot your password?</div>

            <div class="or status or2">or</div>
            <div class="loginbyathority status loginbyathority2">
              <div class="authority"><img src="" alt="" /></div>
              <div class="authority"><img src="" alt="" /></div>
              <div class="authority"><img src="" alt="" /></div>
            </div>

            <button class="register-button">log in</button>
          </form>

          <div class="or status2">or</div>
          <div class="loginbyathority status2">
            <div class="authority"><img src="" alt="" /></div>
            <div class="authority"><img src="" alt="" /></div>
            <div class="authority"><img src="" alt="" /></div>
          </div>
          <div class="termandcondition status2">
            New to modimal? create an account
          </div>
        </div>
      </div>
    </div>