.collection-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    width: 100%;
    padding: 0 clamp(15px, calc(15px + 0.1576 * (100vw - 400px)), 108px);
   

    
}
.collection-title{
    height: 45px;
    

}
.collection-title>.title{
    font-size: 32px;
    height: 100%;
    width: 100%;
    display: flex;
    
    align-items: center;


}
.collection-pics{
    width: 100%;
   
    display: flex;
    gap: 24px;
    
}
.collection-pic-left{
   
    display: flex;
    flex-direction: column;
    gap: 64px;
    aspect-ratio: 600/1419;
    flex: 1;


}
.collection-pic-right{
    
    display: flex;
    flex-direction: column;
    gap: 144px;
    aspect-ratio: 600/1419;
    flex: 1;

}
.collection-pic-left>.pic1{
    aspect-ratio: 600/518;
    position: relative;
    flex: 1;
}
.collection-pic-left>.pic2{
    aspect-ratio: 600/837;
    position: relative;
    flex: 1;
    
}
.collection-pic-right>.pic1{
    aspect-ratio: 600/840;
    position: relative;
    flex: 1;


}
.collection-pic-right>.pic2{
    aspect-ratio: 600/435;
    
    position: relative;
    flex: 1;


}


 .pic-button{
    height: 40px;
    width: 185px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    position: absolute;
    right: 16px;
    bottom: 16px;

}
img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


@media (max-width:780px){
    .collection-pic-left{
    
    
    gap: 24px;
    }
    .collection-pic-right{
    
    
    gap: 32px;
    

}
 .pic-button{
    height: 40px;
    width: 87px;
    
    right: 8px;
    bottom: 8px;

}
.collection-title>.title{
    font-size: 20px;
   


}
    

}

