.scratch-product-page * {
  box-sizing: border-box;
  border: 1px solid black;
}
.scratch-product-page .directory-name {
  height: 40px;
  min-width: 494px;
  display: flex;
  margin-left: clamp(20px, calc(20px + (100vw - 350px) * 0.13134), 108px);
}
.scratch-product-page .home {
  width: 88px;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scratch-product-page .slash {
  height: 40px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scratch-product-page .shopall {
  width: 107px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.scratch-product-page .product-banner {
  width: 100%;
  height: 655px;
  margin-top: 48px;
}
.scratch-product-page .product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.scratch-product-page .filter-and-productcard {
  margin: 0 clamp(20px, calc(20px + (100vw - 350px) * 0.13134), 108px);
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  gap: 24px;
}
.scratch-product-page .filter {
  height: 357px;
  flex: 1 1 392px;
}
.scratch-product-page .product-container {
  flex: 1 1 808px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
  gap: 24px;
  background-color: gray;
}
.scratch-product-page .product-card {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.scratch-product-page .title {
  height: 45px;
  width: 103px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scratch-product-page .filter-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scratch-product-page .filter-box .wrapper {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scratch-product-page .sort-by,
.scratch-product-page .size,
.scratch-product-page .color,
.scratch-product-page .collection,
.scratch-product-page .fabric {
  height: 48px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  margin-top: 16px;
  align-items: center;
  background-color: #748C70;
  color: white;
}

.scratch-product-page .wrapper .text {
  flex: 1;
  height: 22px;
  font-size: 16px;
  display: flex;
  
  
  align-items: center;
}
.scratch-product-page .plus-button {
  width: 14px;
  height: 14px;
}
.scratch-product-page .plus-button img {
  width: 100%;
  height: 100%;
}
/* product card styles */
.scratch-product-page .product-card {
  height: 540px;
  width: 392px;
  display: flex;
  flex-direction: column;
}

.scratch-product-page .product-detail {
  height: 102px;
  width: 100%;
  display: flex;
}
.scratch-product-page .product-title-variant {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.scratch-product-page .product-title {
  height: 22px;
  font-size: 16px;
  width: 100%;
}
.scratch-product-page .text-box {
  height: 29px;
  width: 100%;
  font-size: 16px;
}
.scratch-product-page .product-varient {
  height: 24px;
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}
.scratch-product-page .color1,
.scratch-product-page .color2,
.scratch-product-page .color3 {
  height: 24px;
  width: 24px;
  border-radius: 50px;
}
.scratch-product-page .color1 {
  background-color: rgb(216, 250, 64);
}
.scratch-product-page .color2 {
  background-color: rgb(192, 33, 33);
}
.scratch-product-page .color3 {
  background-color: rgb(20, 179, 55);
}

.scratch-product-page .product-price {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.scratch-product-page .price {
  height: 22px;
  font-size: 16px;
  margin-right: 8px;
}
.scratch-product-page .status {
  display: none;
}

/* responsive styles */
@media (max-width: 750px) {
  .scratch-product-page .filter-and-productcard {
    flex-direction: column;
  }
  .scratch-product-page .product-container {
    padding: 0 auto;
    flex: 1 1 808px;
    display: flex;
    gap: 24px;
    background-color: gray;
    flex-wrap: wrap;
  }
  .scratch-product-page .product-card {
    height: 333px;
    width: 152px;
  }
  .scratch-product-page .product-image {
    width: 152px;
    height: 213px;
  }
  .scratch-product-page .product-detail {
    height: 112px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .scratch-product-page .product-title-variant {
    height: 50%;
    width: 100%;
    display: flex;
  }
  .scratch-product-page .product-title {
    height: 20px;
    font-size: 14px;
  }
  .scratch-product-page .text-box {
    height: 20px;
    font-size: 14px;
  }
  .scratch-product-page .product-price {
    position: relative;
    height: 50%;
    width: 100%;
  }
  .scratch-product-page .price {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    font-size: 14px;
  }
  .scratch-product-page .status {
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .scratch-product-page .status2 {
    display: none;
  }
  .scratch-product-page .color1,
  .scratch-product-page .color2,
  .scratch-product-page .color3 {
    height: 16px;
    width: 16px;
  }
}
.scratch-product-page .product-card {
  margin: 0 auto;
}

/* open sort by */
.scratch-product-page .openwrapper {
  display: flex;
  flex-direction: column;
}
.scratch-product-page .open-details {
  width: 100%;
  padding: 16px;
}
.scratch-product-page .checkboxes {
  height: 29px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.scratch-product-page .label {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.scratch-product-page .open-sort-by {
  height: 48px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  margin-top: 16px;
  align-items: center;
}
.scratch-product-page .filter-box .open-wrapper {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scratch-product-page .wrapper .open-text {
  flex: 1;
  height: 22px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.scratch-product-page .open-plus-button {
  width: 14px;
  height: 14px;
}
.scratch-product-page .open-plus-button img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.scratch-product-page .plus-button img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.directory-name a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;


}
.status1,
.status2,
.status3,
.status4,
.status5,
.status6 {
  display: none;

}
.scratch-product-page .sort-by{
  display: flex;

}
.scratch-product-page .size{
  display: flex;

}
.scratch-product-page .color{
  display: flex;

}
.scratch-product-page .collection{
  display: flex;

}
.scratch-product-page .fabric{
  display: flex;

}





